<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= comment.author_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= comment.created_at.strftime("%m/%d/%y %I:%M%p") %></h6>
    <p class="card-text"><%= comment.comment_body %></p>
  </div>
</div>