<h1 class="mt-4">Página de <%= @video.id %></h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Videos', videos_path %></li>
    <li class="breadcrumb-item active"><%= @video.id %></li>
</ol>